<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
</head>
<body style="padding:0;margin:0">
<table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:12px;table-layout:fixed;color:#666;margin:0 auto"  cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td width="799" style="vertical-align:top;background:#fff  repeat-x left top;border-top:9px solid #333;position:relative"><table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:12px;color:#666;background:#fff" cellspacing="0" cellpadding="0" border="0" width="100%" >
					<tr>
						<td style="vertical-align:top;" ><table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:12px;color:#666;" cellspacing="0" cellpadding="0" border="0" width="100%">
								<tbody>
									<tr>
										<td style="padding:12px 20px" align="left"><img src="http://@domain@/static/bos/img/logo.png" /></td>
										<td style="padding:12px 20px 12px 12px;text-align:right;position:relative;z-index:1"></td>
									</tr>
									<tr>
										<td style="background: repeat-x left bottom;position:relative;z-index:1" height="5" colspan="2"></td>
									</tr>
								</tbody>
							</table>
							<table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:12px;color:#767676;padding:30px 50px" cellspacing="0" cellpadding="0" border="0" width="100%;"  >
								<tbody>
									<tr>
										<td><table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:12px;color:#666;border-top:2px solid #333" cellspacing="0" cellpadding="0" border="0" width="100%;">
												<tr>
													<th style="border:1px solid #e6e6e6;border-width:0 1px 1px 0;background:#f9f9f9  no-repeat 12px 18px;padding:13px 10px 13px 21px;width:120px;text-align:left;vertical-align:top">인증코드 </th>
													<td style="border-bottom:1px solid #e6e6e6;width:599px;padding:13px;line-height:149%">@crtfcCd@</td>
												</tr>
											</table></td>
									</tr>
									<tr>
										<td style="height:5px"></td>
									</tr>
								</tbody>
							</table>
							<table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:12px;color:#666;padding:20px;" cellspacing="0" cellpadding="0" border="0" width="100%">
								<tbody>
									<tr>
										<td style="background: repeat-x left top;" height="20"></td>
									</tr>
									<tr>
										<td style="border:1px solid #eee;background:#f9f9f9;padding:20px;margin-top:20px"><table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:11px;color:#666;padding:0px" cellspacing="0" cellpadding="0" border="0" width="100%">
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td style="background:  no-repeat left 4px;padding-left:11px;line-height:149%">본 메일은 발신전용 이메일입니다.</td>
												</tr>
											</table></td>
									</tr>
								</tbody>
							</table>
							<table style="font-family:Dotum,돋움,sans,sans-serif,apple-gothic;font-size:12px;color:#666;padding:20px;background:#333;font-size:11px;color:#fff" cellspacing="0" cellpadding="0" border="0" width="100%">
								<tbody>
									<tr>
										<td><p>@addres@</p>
											<p>@cpyrht@</p></td>
										<td style="text-align:right;vertical-align:top"></td>
									</tr>
								</tbody>
							</table></td>
					</tr>
				</table></td>
		</tr>
	</tbody>
</table>
</body>
</html>