/* push 로그인 화면 테스트 때문에 임시로 추가하였음. 코딩완료 후 삭제해도됨 */
.snsLogin { background:#fff url(/static/ucms/img/patten.png);border:4px solid #d0d8d9;margin:20px 0;padding:60px 0;text-align:center;}
.snsLogin h3 { font-size:22px;font-family:'Nanum Square';font-weight:bold;position:relative;margin-bottom:34px;}
.snsLogin ul { margin: 0 auto; display:table; table-layout:fixed; }
.snsLogin ul li{ display:table-cell; vertical-align:middle;padding:0 50px;}
.snsLogin ul li a {display:block;width:70px;font-size:18px;line-height:1;font-weight:bold;font-family:'Nanum Square'}
.snsLogin ul li a#google {width:70px;height:70px;background-image:url(/static/ucms/img/ico-google.png);}
.snsLogin ul li a#naver {width:70px;height:70px;background-image:url(/static/ucms/img/ico-naver.png);}
.snsLogin ul li a#kakao {width:70px;height:70px;background-image:url(/static/ucms/img/ico-kakao.png);}

@print{
	.print{display:block}
}